@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    font-family: 'Courier Prime', monospace;
}

h2{
    font-weight: 400;
    margin-top: 40px;
    font-size: 38px;
}

.container{
    width: 100%;
}

.row{
    padding: 0 11% ;
}

form{
    padding: 0 11% ;
    margin-left: auto;
    margin-right: auto;
}

label{
    visibility: hidden;
}
.text-center{
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  

textarea{
    width:78.8%;
    height: 70px;
    font-size: 14px;
    padding: 12px 20px;
    font-family: arial;
    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;;
    background-color: white;
    border: 1px solid #232323;
    transition: 0.3s;
  }

  input[type=submit]:hover {
    background-color: #232323;
    border: 1px solid #232323;
    color: white;
  }

  p{
      line-height: 1.3;
      font-size: 14px;
  }

  @media screen and (max-height: 560px){
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
        border-left: none;
      }
    
      input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
        border-left: none;
      }

      input[type=submit] {
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
        box-sizing: border-box;
        border-radius: 3px;;
        background-color: white;
        border: 1px solid #232323;
        transition: 0.3s;
      }

      h2{
        font-weight: 400;
        margin-top: 35px;
        margin-bottom: 0px;
        font-size: 38px;
    }

    textarea{
        width:78.8%;
        height: 60px;
        font-size: 14px;
        padding: 12px 20px;
        font-family: arial;
        border-top: none;
        border-right: none;
        border-left: none;
    }
  }