@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

body{
	margin:0;
	font-family: Roboto;
}

.intro h1{
	font-family: Poppins;
	letter-spacing: 1.2px;
	
}

.intro{
	padding: 0 8%;
	text-align: justify;
	margin: 40px 0;
}


.selections {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	
}

.selections img{
		max-width: 250px;
		height: auto;
	}

.box_porfolio{
		order: 1;
	}

.box_resume{
		order: 2;
	}


.box_contact{
	order: 3;
	}
	
	.box {
		margin-bottom: 30px;
	}
	
	.box img{
			border: solid 1px black;
	}


@media (max-width: 918px) {
	
	.selections img{
		width: 95%;
		max-height:auto;
	}
	
}

@media only screen and (min-width: 768px) {
	
	.selections {
		display: flex;
		flex-direction: row;
		justify-content: space-around
	}
	
	.box_porfolio{
		order: 2;
	}

	.box_resume{
		order: 1;
	}


	.box_contact{
		order: 3;
	}
	
	
}
