@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,800,900');


body{
	margin: 0;
	font-family: 'Roboto' , sans-serif;
}

a {
	color: #aa99e6;
}

h2{
	margin: 0;
	font-weight: 500;
	}

.intro h1{
	font-family: 'Poppins', serif;
	letter-spacing: 1.2px;
}


.intro{
	padding: 0 7%;
	line-height:1.5;
	margin: 40px 0 25px 0;
}

.selections {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	
}

.selections img{
		max-width: 250px;
		height: 250px;
	}
	

.box_porfolio{
		order: 1;
	}

.box_resume{
		order: 2;
	}


.box_contact{
	order: 3;
	}
	
	.box {
		margin-bottom: 15px;
		padding: 5px;
	}
	
	.box svg, .box img{
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
		border-radius: 15px;
		border: solid 0px rgba(2, 137, 255, 0.2);
		margin-bottom: -20px;

	}
	
	.box svg:hover{
		background-color: rgba(2, 137, 234, 0.2);
		cursor: pointer;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
	}
	.box img:hover{
		background-color: rgba(2, 137, 234, 0.2);
		cursor: pointer;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0);


	}

@media only screen and (max-width: 918px) {
	
	.selections img{
		width: 95%;
		max-height: auto;
	}
	
	.selections {
		width: 95%;
		max-height: auto;
	}
	
}

@media only screen and (min-width: 768px) {
	
	.selections {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.box_resume{
		order: 1;
	}
	
	.box_portfolio{
		order: 2;
	}

	.box_contact{
		order: 3;
	}
	
	.intro{
		margin: 60px 0 20px 0;
	}
	
}
