html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Courier New, sans-serif;
  color: #707070;
  font-size: 18px;
  position: relative;
}

.page-container {
  height: 100%;
  position: relative;
}

#main {
  overflow: auto;
  padding-bottom: 70px;
}

.main-content {
  margin-top: 100px;
  padding-left: 10%;
}


footer img {
  max-height: 50px;
  max-width: auto;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 40px 0;
  background-color: #20262E;
  position: relative;
  width: 100%;
  margin-top: -130px;
  clear: both;
}

h1 {
  font-size: 52px;
}

h2 {
  margin: 0;
}

.selections {
  margin-top: 50px;
}

.selection {
  background-color: #ffffff;
  padding: 25px 0 25px 10%;
}

.selection:hover {
  background-color: #355f46;
}

.selection a {
  text-decoration: none;
  color: #707070;
}
